@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&&display=swap");
 
$font-size-50-18: clamp(1.13rem, calc(-0.60rem + 4.81vw), 3.13rem);
$font-size-30-16: clamp(1rem, calc(0.62rem + 1.62vw), 1.88rem);
$font-size-20-16: clamp(1rem, calc(0.89rem + 0.46vw), 1.25rem);
$font-size-20-14: clamp(0.88rem, calc(0.71rem + 0.69vw), 1.25rem);
$font-size-18-14: clamp(0.88rem, calc(0.77rem + 0.46vw), 1.13rem);
$font-size-16-13: clamp(0.81rem, calc(0.73rem + 0.35vw), 1rem);

$font-size-16: 1rem;
$font-size-14: 0.875rem;
$font-size-13: 0.813rem;

body {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: $font-size-16-13;
    font-weight: 400;
    line-height: 30px;
    color: var(--dark-500);
    background-color: var(--light);
}

:root {
    --light: #fff;
    --blue-100: #f9faff;
    --blue-150: #dcefff;
    --blue-500: #42a5f5;
    --blue-700: #008af9;
    --blue-800: #4a89f2;
    --blue-900: #05529e;

    --red-100: #ffdddc;
    --red-300: #ec5350;
    --red-500: #e53935;

    --green-100: #c8f3e5;
    --green-500: #4cd7ab;
    --green-700: #1effb8;

    --dark-300: #939393;
    --dark-400: #4b4b4b;
    --dark-500: #232323;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
    text-transform: capitalize;
}

h1,
h2,
h3,
p {
    margin: 0;
}


 
 

.section-padding {
    padding: 70px 0;
}

 
 
.award-page-hero {
    color: var(--light);
    background: url('../img/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 4.063rem;
}

.section-header.award-page {
    margin-bottom: 2.5rem;
    margin-top: 6.25rem;
   
}

.section-header__title.award-page {
    font-size: $font-size-50-18;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 0;
}

.section-header__description.award-page {
    line-height: inherit;
    max-width: 100%;
    margin-top: 1.563rem;
}
 

.award-page-features__list {
    list-style: none;
    padding: 0;

    // display: grid;
    // grid-template-columns: repeat(2,1fr);
    // justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr;

    row-gap: 6rem;
}
 

.award-page-features__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: 1px solid  #F4F4F4;
 
 

}
 
.award-page-features__item {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.award-page-features__item-img-container {margin-right: 1rem;}

.award-page-features__item-body {
    border-left: 0.3rem solid var(--blue-500);
    padding-left: 0.9rem;
   
}


.award-page-features__body-title {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.award-page-features__body-title,
.award-page-features__body-company,
.award-page-features__body-nomination {
    text-transform: uppercase;
}

.award-page-features__body-company,
.award-page-features__body-nomination {
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.award-page-features__body-nomination {
    margin-bottom: 0.9rem;
    color: #4B4B4B;
}

.award-page-features__body-company {
    font-weight: 300;
    color: #8C8C8C;
 
}

@media (max-width:1198px) {
    .section-header__title.award-page {
        font-size: 2rem;
    }

    .award-page-features__body-title {
        font-size: 1.2rem;
    }

    .award-page-features__item-img-container {
        width: 12rem;
    }
}

@media (max-width:991.98px) {
.award-page-features__item {
    flex-direction: column;
}

.award-page-features__item-img-container {
    margin-bottom: 1rem;
    margin-right: unset;
}
    
}
@media (max-width:767.98px) {
    .award-page-hero {
        background: url('../img/hero-700.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    

    .section-header.award-page {
        margin-top: 25rem;
    }
}



@media (max-width:575.98px) {
    .award-page-features__list {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    .award-page-features__row {
        flex-direction: column;
    }

    .award-page-hero {
        padding-bottom: 1rem;
    }
 
    .section-header__title.award-page {
        font-size: 1.2rem;
    }

    .award-page-features__body-title {
        font-size: 1rem;
        line-height: 1.9rem;
    }
    
    .award-page-features__row .award-page-features__item:first-child {
        margin-bottom: 2rem;
    }
 
}